<nav class="navbar">
  <div class="logo-container">
    <img src="logo-biblioteca.png" alt="Logo Biblioteca" class="logo-img">
  </div>

  <ul class="nav-links">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        Inicio
      </a>
    </li>

    <li><a routerLink="/salas" routerLinkActive="active-link">Salas</a></li>
    <li *ngIf="isAuthenticated()"><a routerLink="/mis-reservas" routerLinkActive="active-link">Mis reservas</a></li>
    <li><a routerLink="/ayuda" routerLinkActive="active-link">Ayuda</a></li>
    <li><a routerLink="/contacto" routerLinkActive="active-link">Contacto</a></li>
  </ul>

  <div class="nav-auth">
    <ng-container *ngIf="!isAuthenticated()">
      <a routerLink="/login" class="btn-auth">Iniciar sesión</a>
      <a routerLink="/register" class="btn-auth btn-register">Registrarse</a>
    </ng-container>
    
    <ng-container *ngIf="isAuthenticated()">
      <div class="user-menu">

        <span
          class="user-greeting"
          (click)="toggleMenu()">

          Hola, {{ currentUser()?.nombre }} ▼

        </span>

        <div
          class="dropdown-menu"
          *ngIf="mostrarMenu">

          <button
            (click)="logout()"
            class="dropdown-item">

            Cerrar sesión

          </button>

        </div>

      </div>
    </ng-container>
  </div>
</nav>