<nav class="navbar">

  <div class="logo-container">

    <img
      src="logo-biblioteca.png"
      alt="Logo Biblioteca"
      class="logo-img">

  </div>

  <ul class="nav-links">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        Inicio
      </a>
    </li>
    <li><a routerLink="/salas" routerLinkActive="active-link">Salas</a></li>
    <li><a routerLink="/ayuda" routerLinkActive="active-link">Ayuda</a></li>
    <li><a routerLink="/contacto" routerLinkActive="active-link">Contacto</a></li>
  </ul>

</nav>