<div class="sala-card">

  <div class="estado disponible">
        <i class="bi bi-check-circle-fill"></i>
        Disponible
  </div>

  <img [src]="imagen" [alt]="nombre">

  <div class="sala-card-content">
    <h3>{{ nombre }}</h3>

    

    <p>
      <i class="bi bi-people-fill"></i>
      <strong>Capacidad:</strong>
      {{ capacidad }} personas
    </p>

    <p>
      <i class="bi bi-geo-alt-fill"></i>
      <strong>Ubicación:</strong>
      {{ ubicacion }}
    </p>

    <p>
      <i class="bi bi-clock-fill"></i>
      <strong>Horario:</strong>
      {{ horario }}
    </p>

    <div class="acciones">
      <button class="btn-reservar" (click)="onReservar()">Reservar</button>
    </div>
  </div>

</div>