<div class="salas-wrapper">
  <section class="salas-container">
    <h1>Salas de Estudio</h1>
    <p>Encuentra y reserva la sala que mejor se adapte a tus necesidades.</p>

    <div class="barra-superior">

       <div class="filtro-item buscar">

          <label>Buscar</label>

          <input
              type="text"
              placeholder="Ej: Sala A101"
              [(ngModel)]="textoBusqueda"
              (input)="filtrarSalas()">

      </div>

      <div class="filtro-item">

          <label>Capacidad</label>

          <select
              [(ngModel)]="capacidadSeleccionada"
              (change)="filtrarSalas()">

              <option value="">Todas</option>
              <option value="4">Hasta 4 personas</option>
              <option value="8">Hasta 8 personas</option>
              <option value="9">Más de 8 personas</option>

          </select>

      </div>

      <div class="filtro-item">

          <label>Fecha</label>

          <input
              type="date"
              id="fechaSala"
              [(ngModel)]="fechaSeleccionada"
              [min]="fechaMinima"
              (change)="filtrarSalas()">

      </div>

      <div class="filtro-item">

          <label>Ordenar por</label>

          <select
              [(ngModel)]="ordenSeleccionado"
              (change)="filtrarSalas()">

              <option value="nombre">Nombre (A-Z)</option>
              <option value="capacidad">Capacidad</option>

          </select>

      </div>
      
    </div>

    <div class="contador-salas">
      {{ salasFiltradas.length }}
      {{ salasFiltradas.length === 1 ? 'sala disponible' : 'salas disponibles' }}
    </div>

    <div class="resumen-filtros">

      <i class="bi bi-funnel-fill"></i>

      Mostrando
      <strong>{{ salasFiltradas.length }}</strong>

      {{ salasFiltradas.length === 1 ? 'sala' : 'salas' }}

      •

      {{ obtenerTextoCapacidad() }}

      •

      {{ fechaSeleccionada | date:'dd/MM/yyyy' }}

    </div>

    <div class="salas-grid" *ngIf="salasFiltradas.length > 0">
      <app-sala-card
        *ngFor="let sala of salasFiltradas"
        [nombre]="sala.nombreSala"
        [capacidad]="sala.capacidad"
        [ubicacion]="'Piso ' + sala.piso"
        horario="08:00 - 22:00 hrs"
        [imagen]="obtenerImagen(sala.codigoSala)"
        (reservar)="irAReservar(sala.id)">
      </app-sala-card>
    </div>

    <div class="sin-resultados" *ngIf="salasFiltradas.length === 0">
      <i class="bi bi-search"></i>
      <h3>No se encontraron salas</h3>
      <p>Intenta modificar los filtros o la búsqueda.</p>
    </div>

  </section>
</div>

