<footer class="footer">

  <div class="footer-left">
    <h3>Biblioteca Universitaria</h3>
  </div>

  <div class="footer-center">
    <p>
      Sistema de reserva de salas de estudio - Universidad
    </p>

    <p>
      © 2026 Todos los derechos reservados.
    </p>
  </div>

  <div class="footer-right">

    <span>Síguenos en:</span>

    <div class="social-icons">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-envelope"></i>
    </div>

  </div>

</footer>